Timer Flow
[
    {
        "id": "7cc9acce.f59154",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "TABLEON",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/TABLEON",
        "tls": "",
        "x": 790,
        "y": 120,
        "wires": [
            [
                "f75203ba.4424b"
            ]
        ]
    },
    {
        "id": "ca170e5e.bc77a",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "WALLOFF",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/WALLOFF",
        "tls": "",
        "x": 623,
        "y": 160,
        "wires": [
            [
                "faf24d8a.02c55"
            ]
        ]
    },
    {
        "id": "8a60ce89.086b8",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "WALLON",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/WALLON",
        "tls": "",
        "x": 613,
        "y": 120,
        "wires": [
            [
                "7cc9acce.f59154"
            ]
        ]
    },
    {
        "id": "faf24d8a.02c55",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "TABLEOFF",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/TABLEOFF",
        "tls": "",
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "73a200d6.fad1f",
        "type": "switch",
        "z": "960c7c00.be777",
        "name": "On?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 470,
        "y": 234,
        "wires": [
            [
                "a010a735.6bdf58"
            ],
            [
                "4478f5dd.524b5c"
            ]
        ]
    },
    {
        "id": "a010a735.6bdf58",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "HALLON",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/HALLON",
        "tls": "",
        "x": 613,
        "y": 214,
        "wires": [
            []
        ]
    },
    {
        "id": "4478f5dd.524b5c",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "HALLOFF",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/HALLOFF",
        "tls": "",
        "x": 613,
        "y": 254,
        "wires": [
            []
        ]
    },
    {
        "id": "fcabc5b6.0be738",
        "type": "bigtimer",
        "z": "960c7c00.be777",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Sunset - 10:30",
        "lat": "51.5161351",
        "lon": "-0.3173806",
        "starttime": "5004",
        "endtime": "1350",
        "startoff": "-20",
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 300,
        "y": 380,
        "wires": [
            [
                "c49e16b9.48fdd8",
                "cb2f88dd.2c1f78"
            ],
            [],
            []
        ]
    },
    {
        "id": "cb2f88dd.2c1f78",
        "type": "switch",
        "z": "960c7c00.be777",
        "name": "On?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 490,
        "y": 439,
        "wires": [
            [
                "b223763a.710d98"
            ],
            [
                "f45a3b19.f80548"
            ]
        ]
    },
    {
        "id": "b223763a.710d98",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "HALLON",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/HALLON",
        "tls": "",
        "x": 620,
        "y": 419,
        "wires": [
            []
        ]
    },
    {
        "id": "f45a3b19.f80548",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "HALLOFF",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/HALLOFF",
        "tls": "",
        "x": 620,
        "y": 459,
        "wires": [
            []
        ]
    },
    {
        "id": "7055e2b4.26469c",
        "type": "switch",
        "z": "960c7c00.be777",
        "name": "On?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 470,
        "y": 140,
        "wires": [
            [],
            [
                "ca170e5e.bc77a"
            ]
        ]
    },
    {
        "id": "4e9c41fa.1c05c",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "WALLOFF",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/WALLOFF",
        "tls": "",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "5b98a468.0bad9c"
            ]
        ]
    },
    {
        "id": "f8a87071.db7e",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "WALLON",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/WALLON",
        "tls": "",
        "x": 620,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "5b98a468.0bad9c",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "TABLEOFF",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/TABLEOFF",
        "tls": "",
        "x": 810,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c49e16b9.48fdd8",
        "type": "switch",
        "z": "960c7c00.be777",
        "name": "On?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 490,
        "y": 340,
        "wires": [
            [],
            [
                "4e9c41fa.1c05c"
            ]
        ]
    },
    {
        "id": "23a2bc2b.3447d4",
        "type": "bigtimer",
        "z": "960c7c00.be777",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Reboot Sharp TV",
        "lat": "51.5161351",
        "lon": "-0.3173806",
        "starttime": "300",
        "endtime": "315",
        "startoff": 0,
        "endoff": "-14",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "ba8aec95.f0d7d"
            ],
            [],
            []
        ]
    },
    {
        "id": "d9253c58.22ee6",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "WALLOFF",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/WALLOFF",
        "tls": "",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "a1031a2.14d87e8"
            ]
        ]
    },
    {
        "id": "ba8aec95.f0d7d",
        "type": "switch",
        "z": "960c7c00.be777",
        "name": "On?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "d9253c58.22ee6"
            ],
            [
                "e2babdba.c75ab"
            ]
        ]
    },
    {
        "id": "a1031a2.14d87e8",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "TV Off",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/SHARPTVOFF",
        "tls": "",
        "x": 770,
        "y": 520,
        "wires": [
            [
                "535f6a03.125b04"
            ]
        ]
    },
    {
        "id": "e2babdba.c75ab",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "TV On",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/SHARPTVON",
        "tls": "",
        "x": 610,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "535f6a03.125b04",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "AVSPEAKERSOFF",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/AVSPEAKERSOFF",
        "tls": "",
        "x": 930,
        "y": 520,
        "wires": [
            [
                "3e3987f7.ea33b8"
            ]
        ]
    },
    {
        "id": "3e3987f7.ea33b8",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "GYMOFF",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/GYMOFF",
        "tls": "",
        "x": 1100,
        "y": 520,
        "wires": [
            [
                "266663a7.7d68ac"
            ]
        ]
    },
    {
        "id": "df37d8e.c7e8128",
        "type": "bigtimer",
        "z": "960c7c00.be777",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "6am -Sunrise",
        "lat": "51.5161351",
        "lon": "-0.3173806",
        "starttime": "360",
        "endtime": "5003",
        "startoff": "0",
        "endoff": "15",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 290,
        "y": 180,
        "wires": [
            [
                "7055e2b4.26469c",
                "73a200d6.fad1f"
            ],
            [],
            []
        ]
    },
    {
        "id": "fc01d86c.8f5bf8",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "Off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "df37d8e.c7e8128"
            ]
        ]
    },
    {
        "id": "f346a1e8.1c44e",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "Auto",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "df37d8e.c7e8128"
            ]
        ]
    },
    {
        "id": "1ea8443f.58fbdc",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "On",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "df37d8e.c7e8128"
            ]
        ]
    },
    {
        "id": "1ca32f47.ed3401",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "Off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 340,
        "wires": [
            [
                "fcabc5b6.0be738"
            ]
        ]
    },
    {
        "id": "ff27e00.44b9b2",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "Auto",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "fcabc5b6.0be738"
            ]
        ]
    },
    {
        "id": "1d38c27a.9ae8ae",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "On",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "fcabc5b6.0be738"
            ]
        ]
    },
    {
        "id": "ce3fc670.880118",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "Off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "23a2bc2b.3447d4"
            ]
        ]
    },
    {
        "id": "b75d627a.1d98e",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "Auto",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 580,
        "wires": [
            [
                "23a2bc2b.3447d4"
            ]
        ]
    },
    {
        "id": "628e20f7.3a355",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "On",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "23a2bc2b.3447d4"
            ]
        ]
    },
    {
        "id": "f75203ba.4424b",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "TV On",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/SHARPTVON",
        "tls": "",
        "x": 930,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "266663a7.7d68ac",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "HALLOFF",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.237/HALLOFF",
        "tls": "",
        "x": 1240,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "dc863a24.6bb5d8",
        "type": "bigtimer",
        "z": "960c7c00.be777",
        "outtopic": "",
        "outpayload1": "1",
        "outpayload2": "0",
        "name": "Sunset - Sunrise",
        "lat": "51.5161351",
        "lon": "-0.3173806",
        "starttime": "5004",
        "endtime": "5003",
        "startoff": "-20",
        "endoff": "+15",
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 300,
        "y": 700,
        "wires": [
            [
                "519fa5f6.317b8c"
            ],
            [],
            []
        ]
    },
    {
        "id": "17505a4c.eb5b76",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "Off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 680,
        "wires": [
            [
                "dc863a24.6bb5d8"
            ]
        ]
    },
    {
        "id": "b913d36b.00d8f",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "Auto",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 760,
        "wires": [
            [
                "dc863a24.6bb5d8"
            ]
        ]
    },
    {
        "id": "c3f774bc.f01c38",
        "type": "inject",
        "z": "960c7c00.be777",
        "name": "",
        "topic": "",
        "payload": "On",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 130,
        "y": 720,
        "wires": [
            [
                "dc863a24.6bb5d8"
            ]
        ]
    },
    {
        "id": "519fa5f6.317b8c",
        "type": "http request",
        "z": "960c7c00.be777",
        "name": "Loft Light Toggle",
        "method": "GET",
        "ret": "txt",
        "url": "http://192.168.0.218/LOFTLIGHT",
        "tls": "",
        "x": 520,
        "y": 660,
        "wires": [
            []
        ]
    }
]
